asgiref==3.4.1
Django==3.2.7
django-filter==21.1
django-model-utils==4.1.1
django-payments-paybox==0.2.3
djangorestframework==3.12.4
djangorestframework-simplejwt==4.8.0
gunicorn==20.1.0
Pillow==8.4.0
psycopg2-binary==2.9.1
pydantic==1.8.2
PyJWT==2.1.0
pytz==2021.3
sqlparse==0.4.2
typing-extensions==4.0.1
dj-database-url